<!DOCTYPE html>
<html>
<head>
  <title>Gearbox</title>
  <script src="Application/controllers/testing.js"></script>
  <script src="Application/stylesheets/jquery-1.11.3.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='bg-image'>

<%= yield %>

</body>
</html>
