<!DOCTYPE html>
<html>
<head>
  <title>Gearbox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='bg-image2'>


  <h1><a class='btn3' id='click-to-enter' href="/testing" >Click to Enter Garage</a></h1>


<%= yield %>


</body>
</html>