<!DOCTYPE html>
<html>
<head>
  <title>Gearbox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<hr class='hr-small2'>
<hr class='hr-small'>
<hr class='hr-small2'>
<hr class='hr-small'>
<hr class='hr-small2'>
<hr class='hr-small'>
<hr class='hr-small'>
<hr class='hr-small'>
<hr class='hr-small'>
<hr class='hr-small'>
<hr class='hr-small'>
<hr class='hr-small'>
<hr class='hr-small'>
<hr class='hr-small'>
<hr class='hr-small'>
<hr class='hr-small'>
<hr class='hr-small'>
<hr class='hr-small2'>
<hr class='hr-small'>
<hr class='hr-small2'>
<hr class='hr-small'>
<hr class='hr-small2'>
<hr class='hr-small'>
<hr class='hr-small2'>

<div id='landing-link'>
  <h1><a class='btn3' id='click-to-enter' href="/testing" >Click To Enter Testing Area</a></h1>
<hr id='hr6'>
<hr id='hr5'>
<hr id='hr4'>
<hr id='hr3'>
<hr id='hr2'>
<hr id='hr1'>
</div>



<%= yield %>
<!-- <div class='text-bottom'>
	<div class='col-2'></div>
	<div class='col-8'>
	<h6 class='center'>Want to skip the complicated stuff and go strait for a demo? Once you enter the site, you will see a button on the left that says "Demo All Data". This will allow you to see the program run with a preloaded set of data, and without having to enter setup parameters in the input fields.</h6></div>
	<div class='col-2'></div>
</div> -->


</body>
</html>